@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@import "tailwindcss";

*,
*::before,
*::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #ebebeb;
    color: #123830;
    overflow-x: hidden;
}

@theme {
    --color-primary: #13221f;
    --color-secondary: #e1f941;
    --color-white: #f9fffd;
}
